@import "variables";

@font-face {
  font-family: "PoppinsRegular";
  src: url("../fonts/Poppins-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

.app-bar-block {
  header {
    box-shadow:
      0px 0px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 0px rgba(0, 0, 0, 0.14),
      0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .app-bar {
    background-color: $white !important;

    .app-bar-icons {
      color: $black-shade-1;
      font-size: 30px;
    }

    .app-bar-images {
      width: 25px;
      height: 25px;
    }

    .app-bar-title {
      color: $black;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 16px;

      .app-bar-label {
        background-color: $primary-color;
        padding: 6px 14px;
      }
    }

    .app-bar-username {
      color: $black-shade-2;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }
}

.css-2bvmu6-MuiDrawer-docked .MuiDrawer-paper {
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.1) !important;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.1) !important;
}

.app-drawer {
  .app-drawer-list-item {
    background: transparent;
  }

  .app-drawer-list-item-active {
    background: #fff4d0;

    .css-10hburv-MuiTypography-root {
      color: $black;
      font-weight: 600;
    }
  }
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background: transparent !important;
}
